@media screen and (min-width: 1024px) {
    #mobile-nav {
        display: none;
    }
    footer {
        padding-right: 100px;
    }
    footer>div:first-of-type {
        padding-right: 100px;
    }
}

@media screen and (max-width: 1023px) {
    #desktop-nav {
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header h2 {
        padding-right: 0;
        font-size: 30px;
        font-weight: 300;
    }
    header img {
        width: 500px;
    }
    .last-picture img {
        height: 284px;
    }
    .left-flex-pictures img {
        height: 300px;
    }
    .left-flex-pictures div:last-of-type img {
        height: 200px;
    }
    .right-flex-pictures img {
        height: 220px;
    }
    footer>div:first-of-type {
        padding-right: 200px;
    }
    #popular-articles>div {
        gap: 1%;
    }
    #popular-articles>div div p {
        padding-right: 10px;
    }
    #first-more-tnw {
        padding-right: 30px;
    }
    footer {
        padding-right: 100px;
    }
    #partners {
        padding: 0 120px 40px 120px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    #partners li {
        width: 25%;
    }
}

@media screen and (max-width: 950px) {
    #work-with-us>div:first-of-type p {
        padding-right: 50px;
    }
    #tech img {
        height: 90px;
        padding-right: 10px;
    }
    #work-with-us>div:first-of-type p {
        font-size: 18px;
    }
    #work-with-us {
        padding: 50px 20px;
    }
    footer {
        padding-right: 60px;
    }
    iframe {
        height: 400px;
    }
    #video-clip {
        padding: 0 40px 80px 40px;
    }
    #video-clip .aside {
        height: 500px;
    }
    #explore>div {
        overflow: scroll;
        gap: 1.5%;
    }
    #explore>div>div {
        width: 33%;
        flex-shrink: 0;
        height: 300px;
    }
}

@media screen and (max-width: 870px) {
    .last-picture img {
        height: 184px;
    }
    .left-flex-pictures img {
        height: 200px;
    }
    .left-flex-pictures div:last-of-type div h2 {
        font-size: 20px;
    }
    .last-picture h2 {
        font-size: 20px;
    }
    .left-flex-pictures div:first-of-type div h2 {
        font-size: 20px;
    }
    .left-flex-pictures div:last-of-type img {
        height: 180px;
    }
    .right-flex-pictures img {
        height: 200px;
    }
}

@media screen and (min-width: 778px) {
    #flex-pictures.mobile {
        display: none;
    }
}

@media screen and (max-width: 777px) {
    #flex-pictures.desktop {
        display: none;
    }
    #popular-articles>div {
        flex-direction: column;
    }
    #latest-stories>div {
        grid-template-columns: repeat(2, 1fr);
    }
    iframe {
        height: 300px;
    }
    #video-clip .aside {
        height: 400px;
    }
    #video-clip .video {
        margin: 0 20px;
    }
    footer {
        padding-left: 50px;
        padding-right: 50px;
    }
    footer>div:first-of-type {
        padding-right: 100px;
    }
}

@media screen and (max-width: 605px) {
    #work-with-us>div:first-of-type a {
        width: 130px;
    }
    #work-with-us>div:first-of-type h2 {
        font-size: 30px;
    }
    #work-with-us>div:first-of-type h3 {
        font-size: 15px;
    }
    #work-with-us>div:first-of-type p {
        padding: 0 20px 30px 20px;
    }
    #work-with-us>div:first-of-type {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    #latest-stories {
        margin: 20px;
    }
    #latest-stories>div {
        grid-template-columns: repeat(1, 1fr);
    }
    #latest-stories>div div {
        display: flex;
        gap: 10px;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    footer>div:first-of-type img {
        width: 200px;
    }
    footer>div:first-of-type h2 {
        padding-bottom: 50px;
    }
    footer>div:first-of-type ul li a {
        font-size: 30px;
    }
    footer .more-tnw li a {
        padding-bottom: 2px;
    }
}

@media screen and (min-width: 551px) {
    #flex-pictures.mini-mobile {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    #flex-pictures.mobile {
        display: none;
    }
    header img {
        width: 200px;
    }
    header h2 {
        font-size: 25px;
    }
    header {
        justify-content: center;
    }
    #explore {
        padding: 80px 40px;
    }
    #explore>h2 {
        font-size: 30px;
        text-align: center;
    }
    #explore>div>div {
        height: 200px;
    }
    #work-with-us>div:first-of-type {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    #video-clip {
        flex-direction: column;
    }
    #video-clip .video {
        margin: 0;
    }
    #video-clip .aside {
        flex-direction: row;
        width: 100%;
        overflow-y: scroll;
        height: 200px;
    }
    #video-clip .aside>div {
        width: 40%;
        flex-shrink: 0;
    }
    #video-clip .aside>div h3 {
        font-size: 15px;
    }
    #work-with-us>div:first-of-type a {
        width: 130px;
    }
    #work-with-us>div:first-of-type h2 {
        font-size: 30px;
    }
    #work-with-us>div:first-of-type h3 {
        font-size: 15px;
    }
    #work-with-us>div:first-of-type p {
        padding: 0 20px 30px 20px;
    }
    #popular-articles>div a {
        font-size: 18px;
    }
    #popular-articles>div {
        gap: 10px;
    }
    #latest-stories {
        margin: 20px;
    }
    #latest-stories>div {
        grid-template-columns: repeat(1, 1fr);
    }
    #latest-stories>div div {
        display: flex;
        gap: 10px;
    }
    footer>div:first-of-type ul {
        gap: 5px;
        list-style: none;
    }
    #latest-stories>h3 a {
        width: 300px;
    }
    #latest-stories>div div div {
        display: flex;
        flex-direction: column;
    }
    #latest-stories>div div div h3 a {
        font-size: 17px;
        padding-bottom: 3px;
    }
    #latest-stories>h2 {
        font-size: 30px;
        text-align: center;
    }
    #latest-stories>div div img {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        padding: 0;
    }
    #parallax>h2 {
        font-size: 30px;
    }
    #work-with-us {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #work-with-us>div:first-of-type {
        text-align: center;
    }
    #partners {
        padding: 0 20px 40px 20px;
    }
    #partners li {
        width: 40%;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    footer>div:first-of-type img {
        width: 200px;
    }
    footer>div:first-of-type h2 {
        padding-bottom: 50px;
    }
    footer>div:first-of-type ul li a {
        font-size: 30px;
    }
    footer .more-tnw li a {
        padding-bottom: 2px;
    }
}