* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVIGATION */

#desktop-nav {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    margin-bottom: 80px;
    background-color: rgb(243, 242, 242);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

#desktop-nav img {
    width: 80px;
}

#desktop-nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

#desktop-nav ul li:hover, nav ul li:active {
    background-color: #fff;
}

#desktop-nav ul li a {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #555;
    text-decoration: none;
}

#desktop-nav i {
    font-size: 20px;
    color: rgb(161, 153, 153);
}

#mobile-nav {
    max-width: 100%;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    padding: 10px 30px;
    align-items: center;
    margin-bottom: 80px;
    background-color: rgb(243, 242, 242);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

#mobile-nav img {
    width: 100px;
    color: #555;
}

#mobile-nav i {
    font-size: 30px;
    color: #555;
}

/* HEADER */

header {
    padding: 80px 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

header img {
    width: 200px;
}

header h2 {
    padding-right: 150px;
    font-size: 40px;
    color: #555;
}

/* GRID SECTION */

#flex-pictures.desktop {
    display: flex;
    padding: 10px 40px;
    gap: 5px;
    margin-bottom: 50px;
}

.left-flex-pictures img {
    width: 100%;
    height: 350px;
    transition: width 2s, height 3s, transform 1s;
    transition-timing-function: ease-out;
}

.left-flex-pictures img:hover, .left-flex-pictures img:active {
    transform: scale(0.8);
}

.left-flex-pictures div:last-of-type img {
    height: 250px;
    box-shadow: inset 2px 1px 70px 78px rgba(0, 0, 0, 0.71);
}

.left-flex-pictures {
    width: 50%;
}

#flex-pictures.desktop>div:last-of-type {
    width: 50%;
}

.left-flex-pictures div:last-of-type div {
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: inset 0px -50px 20px 0px rgba(0, 0, 0, 0.68);
}

.left-flex-pictures div:last-of-type div h2 {
    color: #fff;
    padding: 0 100px;
    margin-bottom: 30px;
    text-align: center;
}

.left-flex-pictures div:last-of-type div a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

.left-flex-pictures>div {
    position: relative;
}

.left-flex-pictures div:first-of-type div {
    position: absolute;
    color: #fff;
    z-index: 5;
    bottom: 5px;
    left: 15px;
}

.left-flex-pictures div:first-of-type div h2 {
    font-size: 40px;
}

.right-flex-pictures {
    display: flex;
    gap: 10px;
}

.right-flex-pictures div:first-of-type {
    position: relative;
    width: 50%;
}

.right-flex-pictures img {
    width: 100%;
    height: 250px;
}

.right-flex-pictures div:first-of-type div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 30px 30px 5px;
    width: 100%;
    box-shadow: inset 0 -89px 15px 0px rgb(0 0 0 / 71%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.right-flex-pictures h2 {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

.right-flex-pictures p {
    font-size: 12px;
    color: #fff;
}

.right-flex-pictures div:last-of-type {
    position: relative;
    width: 50%;
}

.right-flex-pictures div:last-of-type div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 30px 30px 5px;
    width: 100%;
    box-shadow: inset 0 -89px 15px 0px rgb(0 0 0 / 71%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.last-picture {
    position: relative;
}

.last-picture p {
    color: #fff;
    font-size: 13px;
}

.last-picture h2 {
    color: #fff;
    font-size: 30px;
}

.last-picture div {
    position: absolute;
    bottom: 50px;
    padding: 0 100px 0 10px;
}

.last-picture img {
    width: 100%;
    height: 355px;
}

#flex-pictures.mobile {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
}

#flex-pictures.mobile>div {
    position: relative;
}

#flex-pictures.mobile>div img {
    width: 100%;
}

#flex-pictures.mobile>.cover-picture>div:first-of-type {
    position: absolute;
    color: #fff;
    bottom: 30px;
    left: 10px;
    padding-right: 50px;
}

#flex-pictures.mobile .grid-mobile {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5px;
}

#flex-pictures.mobile .grid-mobile div {
    position: relative;
}

#flex-pictures.mobile .grid-mobile div>div {
    position: absolute;
    color: #fff;
    font-size: 0.6em;
    bottom: 30px;
    left: 10px;
    padding-right: 20px;
    text-align: center;
    font-weight: bold;
}

#flex-pictures.mobile .grid-mobile img {
    width: 100%;
    height: 200px;
}

#flex-pictures.mobile .grid-mobile>div:first-of-type div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: inset 0px -50px 20px 0px rgba(0, 0, 0, 0.68);
}

#flex-pictures.mobile .grid-mobile div a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 20px;
    border-radius: 20px;
}

#flex-pictures.mini-mobile {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
}

#flex-pictures.mini-mobile .grid-mobile {
    display: flex;
    overflow: scroll;
    gap: 10px;
}

#flex-pictures.mini-mobile .grid-mobile>div img {
    width: 100%;
    height: 250px;
}

#flex-pictures.mini-mobile .grid-mobile>div {
    position: relative;
    width: 85%;
    height: 250px;
    flex-shrink: 0;
}

#flex-pictures.mini-mobile .grid-mobile>div>div {
    position: absolute;
    color: #FFF;
    bottom: 50px;
}

#flex-pictures.mini-mobile .cover-picture {
    margin-right: 10px;
    position: relative;
}

#flex-pictures.mini-mobile .cover-picture img {
    width: 100%;
}

#flex-pictures.mini-mobile .cover-picture div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 30px;
}

#flex-pictures.mini-mobile .cover-picture div h2 {
    margin-bottom: 10px;
}

#flex-pictures.mini-mobile .cover-picture div a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 5px 15px;
}

/* POPULAR ARTICLES */

#popular-articles {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 235, 235);
    padding-top: 40px;
    padding-bottom: 50px;
}

#popular-articles h2 {
    text-align: center;
    color: #555;
    padding-bottom: 40px;
}

#popular-articles>div {
    display: flex;
    gap: 5%;
    padding: 0 30px;
}

#popular-articles>div div {
    display: flex;
}

#popular-articles>div div p {
    color: rgb(209, 16, 216);
    font-size: 35px;
    padding-right: 20px;
}

#popular-articles>div div a:hover, #popular-articles>div div a:active {
    text-decoration: underline;
    text-decoration-color: rgb(220, 157, 223);
}

#popular-articles>div a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding-top: 2px;
}

/* LATEST STORIES */

#latest-stories {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 70px;
}

#latest-stories>h2 {
    font-size: 40px;
}

#latest-stories>div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 20px;
}

#latest-stories>div div img {
    width: 100%;
    padding-bottom: 15px;
}

#latest-stories>div div h3 a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 20px;
}

#latest-stories>div div h3 a:hover, #latest-stories>div div h3 a:active {
    text-decoration: underline;
    text-decoration-color: rgb(220, 157, 223);
}

#latest-stories>div div p {
    color: #555;
}

#latest-stories>h3 {
    text-align: center;
}

#latest-stories>h3 a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(61, 199, 199);
    border-radius: 20px;
}

#latest-stories>h3 a:hover, #latest-stories>h3 a:active {
    background-color: aqua;
}

#latest-stories>h3 i {
    color: rgb(73, 73, 73);
}

/* EXPLORE */

#explore {
    padding: 80px 70px;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 235, 235);
}

#explore>h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

#explore>div {
    display: flex;
    gap: 20px;
}

#explore>div>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 20%;
    text-align: center;
    height: 220px;
    color: #fff;
}

#explore>div>div img {
    max-width: 120px;
    margin: 0 auto;
}

.explore-1 {
    background-image: url('Resources/Img/explore\ 1.png');
}

.explore-2 {
    background-image: url('Resources/Img/explore\ 2.jpeg');
}

.explore-3 {
    background-image: url('Resources/Img/explore\ 3.jpeg');
}

.explore-4 {
    background-image: url('Resources/Img/explore\ 4.jpeg');
}

.explore-5 {
    background-image: url('Resources/Img/explore\ 5.png');
}

/* PARALLAX */

#parallax {
    margin-bottom: 40px;
    padding: 90px 30px;
    display: flex;
    flex-direction: column;
    background-image: url("Resources/Img/parallax.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120% 120%;
}

#parallax>h2 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 15px;
    color: #fff;
}

#parallax>p {
    text-align: center;
    font-size: 17px;
    margin-bottom: 40px;
    color: #fff;
}

#parallax>p a {
    text-decoration: none;
    color: aqua;
}

#parallax>p a:hover, #parallax>p a:active {
    color: #fff;
}

#input-container {
    position: relative;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

#input-container input {
    width: 100%;
    padding: 10px 0 10px 25px;
    border-radius: 5px;
}

#input-container a {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: #555;
    font-size: 15px;
}

#input-container i {
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
}

#parallax ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#parallax ul li a {
    font-size: 30px;
    color: rgb(196, 195, 195);
}

#parallax ul li a:hover, #parallax ul li a:active {
    color: #fff;
}

/* VIDEO */

body>h2 {
    font-size: 35px;
    padding: 40px 90px 40px 90px;
    background-color: rgb(236, 235, 235);
}

#video-clip {
    display: flex;
    padding: 0 90px 80px 90px;
    gap: 20px;
    background-color: rgb(236, 235, 235);
}

#video-clip .video {
    flex-grow: 1;
    background-color: black;
}

#video-clip .video>h2 {
    color: #fff;
    padding-bottom: 30px;
    padding-left: 30px;
}

#video-clip .video>p {
    color: #555;
    padding-left: 30px;
}

iframe {
    width: 100%;
    height: 600px;
    padding-bottom: 30px;
}

#video-clip .aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 20px;
    height: 700px;
    overflow: scroll;
    background-color: rgb(236, 235, 235);
    box-shadow: inset -4px -56px 21px -2px rgba(250, 250, 250, 1);
}

#video-clip .aside div img {
    width: 100%;
    padding-bottom: 5px;
}

#video-clip .aside div h3 a {
    text-decoration: none;
    color: #000;
}

#video-clip .aside div h3 a:hover, #video-clip .aside div h3 a:active {
    text-decoration: underline;
    text-decoration-color: rgb(220, 157, 223);
}

/* WORK WITH US */

#work-with-us {
    display: flex;
    padding: 80px;
}

#work-with-us>div:first-of-type {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#work-with-us>div:first-of-type h3 {
    color: #555;
    padding-bottom: 20px;
    font-size: 17px;
}

#work-with-us>div:first-of-type h2 {
    font-size: 40px;
    padding-bottom: 40px;
}

#work-with-us>div:first-of-type p {
    font-size: 22px;
    color: #555;
    padding-bottom: 60px;
    padding-right: 80px;
}

#work-with-us>div:first-of-type a {
    display: inline-block;
    color: #fff;
    background-color: rgb(61, 199, 199);
    padding: 10px 10px;
    font-size: 13px;
    width: 110px;
    border-radius: 5px;
    text-decoration: none;
}

#work-with-us>div:first-of-type a:hover, #work-with-us>div:first-of-type a:active {
    background-color: aqua;
}

#tech {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-grow: 1;
}

#tech div {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

#tech img {
    height: 110px;
    padding-right: 30px;
}

#tech h2 {
    font-size: 20px;
}

#partners {
    display: flex;
    align-items: center;
    padding: 0 150px 40px 150px;
    gap: 70px;
    list-style: none;
}

#partners li a img {
    width: 100%;
    opacity: 0.7;
    transition: all .3s linear;
}

#partners li a img:hover {
    opacity: 1;
}

/* FOOTER */

footer {
    display: flex;
    padding: 50px 200px 30px 130px;
    justify-content: space-between;
    background-color: black;
    border-bottom: 1px solid #555;
}

footer>div:first-of-type img {
    padding-bottom: 20px;
    color: #fff;
}

footer>div:first-of-type {
    padding-right: 400px;
}

footer>div:first-of-type h2 {
    font-size: 30px;
    font-weight: normal;
    color: #fff;
    padding-bottom: 100px;
}

footer>div:first-of-type ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer>div:first-of-type ul li a {
    display: inline-block;
    font-size: 20px;
    color: #555;
}

footer>div:first-of-type ul li a:hover, footer>div:first-of-type ul li a:active {
    color: #fff;
}

footer .more-tnw h2 {
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
}

footer .more-tnw {
    flex-grow: 1;
}

#first-more-tnw {
    padding-right: 150px;
}

footer .more-tnw li a {
    display: inline-block;
    color: aqua;
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 18px;
}

footer .more-tnw li a:hover, footer .more-tnw li a:active {
    text-decoration: underline;
    text-decoration-color: aqua;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    align-items: center;
    padding: 50px;
}

#footer p {
    color: #555;
    padding-bottom: 10px;
}

#footer p a {
    color: #fff;
    text-decoration: none;
}

#footer p a:hover, #footer p a:active {
    color: rgb(209, 16, 216);
}

footer>div:last-of-type {
    display: flex;
}