header {
    padding: 80px 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    img {
        width: 200px;
    }
    h2 {
        padding-right: 150px;
        font-size: 40px;
        color: #555;
    }
}